/* Color Theme Swatches in RGBA */
@font-face {
  font-family: disney_font;
  src: url(fonts/disney.otf); }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  box-sizing: border-box;
  height: 100%;
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  background-color: #282828;
  height: 100%;
  color: #d2d6d9;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  font-size: 1.8rem; }

.root,
.App {
  position: relative;
  height: 100%;
  min-height: 60rem; }

body::-webkit-scrollbar {
  width: 0.7em;
  background-color: #282828; }

body::-webkit-scrollbar-thumb {
  border: 1px solid #282828;
  background-color: #d2d6d9;
  border-radius: 50px; }

.page__title {
  position: absolute;
  top: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 9;
  color: currentColor; }
  @media only screen and (max-width: 30rem) {
    .page__title {
      top: 4rem; } }
  .page__title-text {
    display: flex;
    align-self: center;
    font-size: 200%;
    letter-spacing: 0.5rem;
    margin: auto;
    transform: translateX(-5rem); }
    @media only screen and (max-width: 30rem) {
      .page__title-text {
        font-size: 100%;
        margin-left: 5%;
        transform: translateX(0); } }
  .page__title-number {
    display: flex;
    align-items: center;
    font-family: "Lucida Grande";
    color: #a52c2c;
    font-weight: 900;
    font-size: 250%; }
    @media only screen and (max-width: 30rem) {
      .page__title-number {
        font-size: 125%; } }
    .page__title-number::before {
      content: " ";
      display: block;
      width: 5rem;
      height: 3px;
      background-color: #d2d6d9;
      margin-right: 1rem; }
      @media only screen and (max-width: 30rem) {
        .page__title-number::before {
          width: 3rem;
          height: 2px; } }

@keyframes photo_flash {
  0% {
    background: white; }
  100% {
    background: none; } }

@keyframes make_photo {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes blur {
  100% {
    filter: blur(20px);
    -webkit-filter: blur(20px); } }

@keyframes rotate {
  0% {
    transform: rotateX(0) rotateY(0) rotateZ(0);
    -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
    -moz-transform: rotateX(0) rotateY(0) rotateZ(0); }
  100% {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    -moz-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg); } }

@keyframes coverFromLeft {
  0% {
    width: 0; }
  75% {
    width: 100%; }
  100% {
    width: 0%; } }

@keyframes show__slide {
  100% {
    visibility: visible; } }

@keyframes zooming {
  0% {
    transform: scale(1) translate(-50%, -50%);
    -webkit-transform: scale(1) translate(-50%, -50%);
    -moz-transform: scale(1) translate(-50%, -50%); }
  100% {
    transform: scale(1.4) translate(-30%, -50%);
    -webkit-transform: scale(1.4) translate(-30%, -50%);
    -moz-transform: scale(1.4) translate(-30%, -50%); } }

@keyframes scroll {
  0% {
    top: 1rem; }
  100% {
    top: 2rem; } }

@keyframes move__down {
  0% {
    top: -5rem; }
  100% {
    opacity: 1;
    top: 0; } }

@keyframes move__right {
  0% {
    left: -3rem; }
  100% {
    left: 2rem;
    opacity: 1; } }

@keyframes move__up {
  0% {
    bottom: -5rem; }
  100% {
    bottom: 0rem;
    opacity: 1; } }

@keyframes diamond {
  0% {
    opacity: 1;
    left: -5%; }
  100% {
    opacity: 1;
    left: 100%; } }

@keyframes barGrowRight {
  0% {
    opacity: 0;
    width: 0%; }
  100% {
    opacity: 1;
    width: 100%; } }

.header {
  height: 100%;
  background-color: white;
  animation: coverFromLeft 4s 2 forwards;
  -webkit-animation: coverFromLeft 4s 2 forwards;
  -moz-animation: coverFromLeft 4s 2 forwards;
  transition: 2s; }
  .header__loader {
    height: 100%;
    position: absolute;
    width: 100%;
    font-size: 300%;
    font-weight: 900;
    animation: show__slide 3s;
    -webkit-animation: show__slide 3s;
    -moz-animation: show__slide 3s;
    align-items: center;
    letter-spacing: 1rem;
    text-transform: uppercase;
    visibility: hidden; }
    @media only screen and (max-width: 48rem) {
      .header__loader {
        font-size: 100%;
        letter-spacing: .4rem; } }

.text__center {
  color: #86a69a;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%); }

.text__zoom {
  font-size: 100%;
  line-height: 1;
  font-weight: 900;
  letter-spacing: 0.2rem;
  animation: zooming 1s linear 3s forwards;
  -webkit-animation: zooming 1s linear 3s forwards;
  -moz-animation: zooming 1s linear 3s forwards; }
  @media only screen and (max-width: 30rem) {
    .text__zoom {
      font-size: 50%; } }

.slide__one, .slide__two, .slide__three {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  visibility: hidden;
  z-index: -1; }

.slide__one {
  background-color: black;
  animation: show__slide 4s linear;
  -webkit-animation: show__slide 4s linear;
  -moz-animation: show__slide 4s linear; }

.slide__two {
  background-image: radial-gradient(#384347 20%, #282828 70%);
  animation: show__slide 4s linear 3s;
  -webkit-animation: show__slide 4s linear 3s;
  -moz-animation: show__slide 4s linear 3s; }

.slide__three {
  background-image: radial-gradient(black 20%, #282828 70%);
  background-repeat: no-repeat;
  background-position: -35rem;
  background-color: #282828;
  display: flex;
  justify-content: start;
  animation: show__slide 4s linear 3s forwards;
  -webkit-animation: show__slide 4s linear 3s forwards;
  -moz-animation: show__slide 4s linear 3s forwards;
  z-index: -2;
  transition: 2s; }
  @media only screen and (max-width: 56.25rem) {
    .slide__three {
      background-position: -25rem; } }
  @media only screen and (max-width: 48rem) {
    .slide__three {
      background-position: -20rem -20rem; } }
  @media only screen and (max-width: 30rem) {
    .slide__three {
      background-position: -5rem -15rem; } }

.background__decoration {
  width: 100%;
  position: relative;
  overflow: hidden; }

.decoration {
  width: 17%;
  position: absolute;
  right: 40%;
  transform: rotate(45deg) scale(0.9);
  -webkit-transform: rotate(45deg) scale(0.9);
  -moz-transform: rotate(45deg) scale(0.9);
  transition: 2s;
  z-index: -1; }
  @media only screen and (max-width: 56.25rem) {
    .decoration {
      right: 50%;
      transform: rotate(45deg) scale(0.8);
      -webkit-transform: rotate(45deg) scale(0.8);
      -moz-transform: rotate(45deg) scale(0.8); } }
  @media only screen and (max-width: 56.25rem), screen and (max-height: 720px) {
    .decoration {
      right: 40%;
      top: -15%;
      transform: rotate(45deg) scale(0.7);
      -webkit-transform: rotate(45deg) scale(0.7);
      -moz-transform: rotate(45deg) scale(0.7); } }
  @media only screen and (max-width: 56.25rem), screen and (max-height: 600px) {
    .decoration {
      transform: rotate(45deg) scale(0.6);
      -webkit-transform: rotate(45deg) scale(0.6);
      -moz-transform: rotate(45deg) scale(0.6); } }
  @media only screen and (max-width: 48rem) {
    .decoration {
      right: 62%;
      transform: rotate(45deg) scale(0.7);
      -webkit-transform: rotate(45deg) scale(0.7);
      -moz-transform: rotate(45deg) scale(0.7); } }
  @media only screen and (max-width: 30rem) {
    .decoration {
      top: -10%;
      right: 50%;
      transform: rotate(45deg) scale(0.5);
      -webkit-transform: rotate(45deg) scale(0.5);
      -moz-transform: rotate(45deg) scale(0.5); } }
  .decoration1, .decoration2, .decoration3 {
    position: relative;
    border-radius: 35px;
    border: 15px solid rgba(165, 44, 44, 0.5); }
  .decoration1, .decoration3 {
    width: 16rem;
    height: 16rem; }
  .decoration2 {
    width: 32rem;
    height: 32rem;
    margin: 2.5rem 0 2.5rem 0; }
  .decoration3 {
    margin-left: 16rem; }
  .decoration__text-1, .decoration__text-2, .decoration__text-3 {
    position: absolute;
    text-align: center;
    top: 25%;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg); }
  .decoration__text-1 {
    top: 35%;
    left: 20%; }
  .decoration__text-1, .decoration__text-3 {
    font-size: 120%; }
  .decoration__text-2 {
    left: 12%;
    font-size: 250%;
    font-weight: 900;
    letter-spacing: 5px; }

.background__spiner {
  width: 50%;
  position: relative; }
  @media only screen and (max-width: 30rem) {
    .background__spiner {
      width: 0; } }

.spiner {
  position: absolute;
  top: 25rem;
  left: 50%;
  width: 15rem;
  height: 15rem;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform: preserve-3d;
  transition: 2s;
  animation: rotate 30s linear infinite;
  -webkit-animation: rotate 30s linear infinite;
  -moz-animation: rotate 30s linear infinite; }
  @media only screen and (max-width: 48rem) {
    .spiner {
      top: 15%;
      left: 6rem;
      width: 10rem;
      height: 10rem; } }

.spin__icon-1, .spin__icon-2, .spin__icon-3, .spin__icon-4, .spin__icon-5, .spin__icon-6 {
  position: absolute;
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  box-shadow: 0 0 4rem #d2d6d9, inset 0 0 6rem rgba(134, 166, 154, 0.5); }
  @media only screen and (max-width: 56.25rem) {
    .spin__icon-1, .spin__icon-2, .spin__icon-3, .spin__icon-4, .spin__icon-5, .spin__icon-6 {
      width: 20rem;
      height: 20rem; } }
  @media only screen and (max-width: 48rem) {
    .spin__icon-1, .spin__icon-2, .spin__icon-3, .spin__icon-4, .spin__icon-5, .spin__icon-6 {
      width: 15rem;
      height: 15rem; } }
  @media only screen and (max-width: 30rem) {
    .spin__icon-1, .spin__icon-2, .spin__icon-3, .spin__icon-4, .spin__icon-5, .spin__icon-6 {
      width: 10rem;
      height: 10rem; } }

.spin__icon-1 {
  transform: rotateX(0deg) rotateY(0deg);
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -moz-transform: rotateX(0deg) rotateY(0deg); }

.spin__icon-2 {
  transform: rotateX(0deg) rotateY(60deg);
  -webkit-transform: rotateX(0deg) rotateY(60deg);
  -moz-transform: rotateX(0deg) rotateY(60deg); }

.spin__icon-3 {
  transform: rotateX(60deg) rotateY(0deg);
  -webkit-transform: rotateX(60deg) rotateY(0deg);
  -moz-transform: rotateX(60deg) rotateY(0deg); }

.spin__icon-4 {
  transform: rotateX(0deg) rotateY(-60deg);
  -webkit-transform: rotateX(0deg) rotateY(-60deg);
  -moz-transform: rotateX(0deg) rotateY(-60deg); }

.spin__icon-5 {
  transform: rotateX(-60deg) rotateY(0deg);
  -webkit-transform: rotateX(-60deg) rotateY(0deg);
  -moz-transform: rotateX(-60deg) rotateY(0deg); }

.navigation {
  width: 100%; }
  .navigation .dark__nav {
    color: #282828 !important; }

.nav {
  position: fixed;
  right: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 3rem 0 3rem;
  font-size: 150%;
  animation: move__down 2s linear 7s forwards;
  -webkit-animation: move__down 2s linear 7s forwards;
  -moz-animation: move__down 2s linear 7s forwards;
  color: currentColor; }
  @media only screen and (max-width: 30rem) {
    .nav {
      font-size: 100%; } }
  .nav__link {
    color: currentColor;
    text-decoration: none;
    cursor: pointer;
    width: 8rem;
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 30rem) {
      .nav__link {
        width: 6rem; } }
    .nav__link i, .nav__link a {
      color: currentColor; }
    .nav__link .github:hover {
      border-radius: 100%;
      background-color: white;
      color: black; }
    .nav__link .linkedin:hover {
      border-radius: 100%;
      background-color: white;
      color: blue; }
      .nav__link .linkedin:hover::before {
        height: 50%; }

.side__navigation {
  position: fixed;
  top: 50%;
  width: 5%;
  margin-left: 1rem;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  z-index: 10;
  list-style-type: circle;
  animation: move__right 2s linear 7s forwards;
  -webkit-animation: move__right 2s linear 7s forwards;
  -moz-animation: move__right 2s linear 7s forwards; }
  .side__navigation .active {
    list-style-type: disc; }
  .side__navigation a {
    text-decoration: none;
    color: currentColor; }
  .side__navigation-text {
    color: currentColor;
    font-weight: 100;
    width: 100%;
    display: block;
    opacity: 0;
    cursor: pointer;
    transition: all 0.5s; }
    .side__navigation-text:hover {
      opacity: 1; }

.mouse {
  width: 8rem;
  margin-bottom: 2rem;
  position: fixed;
  display: flex;
  justify-content: center;
  left: 50%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  z-index: 10;
  animation: move__up 2s linear 7s forwards;
  -webkit-animation: move__up 2s linear 7s forwards;
  -moz-animation: move__up 2s linear 7s forwards; }
  @media only screen and (max-width: 48rem) {
    .mouse {
      transform: scale(0.8) translate(-60%);
      -webkit-transform: scale(0.8) translate(-60%);
      -moz-transform: scale(0.8) translate(-60%); } }
  @media only screen and (max-width: 30rem) {
    .mouse {
      margin-bottom: -0.5rem;
      transform: scale(0.6) translate(-80%);
      -webkit-transform: scale(0.6) translate(-80%);
      -moz-transform: scale(0.6) translate(-80%); } }

.scroll {
  width: 4rem;
  height: 6rem;
  border: 0.3rem solid currentColor;
  border-radius: 5rem;
  position: relative; }
  .scroll__icon {
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: 1rem;
    left: 1.15rem;
    border-radius: 100%;
    background-color: currentColor;
    animation: scroll 2s infinite;
    -webkit-animation: scroll 2s infinite;
    -moz-animation: scroll 2s infinite; }
  .scroll__text {
    position: absolute;
    top: 3rem;
    font-size: 80%; }

.about {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden; }
  .about__background {
    width: 100%;
    height: 100%;
    background: url(img/about_background.jpg);
    background-size: cover;
    background-position: center; }
  .about .page__title {
    color: #282828; }
    .about .page__title-number::before {
      background-color: #282828; }

.flash {
  display: flex;
  width: 100%;
  height: 100%;
  transition: 2s;
  position: absolute;
  top: 0;
  left: 0; }

.background__card {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }
  @media only screen and (max-width: 48rem) {
    .background__card {
      width: 100%;
      position: absolute;
      height: 90%;
      margin: auto 0 0 0;
      justify-content: space-between; } }

.card {
  width: 25rem;
  height: 30rem;
  transition: 2s;
  opacity: 0;
  box-shadow: 15px 15px 20px black;
  border-style: solid;
  border-width: 1.5rem 1.5rem 8rem 1.5rem;
  border-color: white;
  background-image: url(img/me.jpg);
  background-size: cover;
  transform: skewX(-10deg) skewY(10deg);
  -webkit-transform: skewX(-10deg) skewY(10deg);
  -moz-transform: skewX(-10deg) skewY(10deg);
  z-index: 3; }
  @media only screen and (max-width: 56.25rem) {
    .card {
      transform: scale(0.8) skewX(-10deg) skewY(10deg);
      -webkit-transform: scale(0.8) skewX(-10deg) skewY(10deg);
      -moz-transform: scale(0.8) skewX(-10deg) skewY(10deg); } }
  @media only screen and (max-width: 48rem) {
    .card {
      transform: scale(0.7) skewX(-10deg) skewY(10deg) translate(120%, -10%);
      -webkit-transform: scale(0.7) skewX(-10deg) skewY(10deg) translate(120%, -10%);
      -moz-transform: scale(0.7) skewX(-10deg) skewY(10deg) translate(120%, -10%); } }
  @media only screen and (max-width: 30rem) {
    .card {
      transform: scale(0.7) skewX(-10deg) skewY(10deg) translate(50%, 10%);
      -webkit-transform: scale(0.7) skewX(-10deg) skewY(10deg) translate(50%, 10%);
      -moz-transform: scale(0.7) skewX(-10deg) skewY(10deg) translate(50%, 10%); } }
  .card__motto {
    font-size: 110%;
    width: 100%;
    text-align: center;
    font-family: "disney_font";
    color: #282828;
    position: absolute;
    bottom: -7rem; }

.background__information {
  width: 80%;
  height: 100%;
  display: flex; }
  @media only screen and (max-width: 56.25rem) {
    .background__information {
      font-size: 80%;
      width: 80%;
      margin: auto; } }

.information__card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto 0 auto auto;
  padding: 4rem 3rem;
  overflow: auto;
  opacity: 0;
  width: 80%;
  height: 60%;
  border-radius: 10px;
  background-color: rgba(56, 67, 71, 0.6); }
  .information__card::-webkit-scrollbar {
    width: .6em;
    background-color: #282828;
    border-radius: 50px; }
  .information__card::-webkit-scrollbar-thumb {
    background-color: #d2d6d9;
    border: 1px solid #282828;
    border-radius: 50px;
    height: 20rem;
    width: 20rem; }
  .information__card::before {
    content: "\201C";
    position: absolute;
    top: -2rem;
    left: 0rem;
    line-height: 1;
    font-size: 23rem;
    color: rgba(210, 214, 217, 0.2);
    font-family: sans-serif;
    z-index: 1; }
  @media only screen and (max-width: 56.25rem) {
    .information__card {
      width: 80%; } }
  @media only screen and (max-width: 48rem) {
    .information__card {
      height: 50%;
      margin: auto 0 30% 0;
      z-index: 2;
      padding: 3rem 2rem; } }
  @media only screen and (max-width: 30rem) {
    .information__card {
      width: 100%;
      margin: auto 0 2% 0;
      font-size: 80%; } }
  @media only screen and (max-width: 30rem), screen and (max-height: 300px) {
    .information__card {
      width: 100%;
      margin: auto 0 40% 0;
      font-size: 80%; } }

.title {
  margin-bottom: 3rem;
  letter-spacing: .5rem; }
  @media only screen and (max-width: 30rem) {
    .title {
      letter-spacing: .3rem; } }

.buttons {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  opacity: 0; }
  @media only screen and (max-width: 30rem) {
    .buttons {
      width: 100%;
      justify-content: space-around; } }

.btn {
  border: none;
  background-color: transparent;
  color: #d2d6d9;
  width: auto;
  font-size: 100%; }
  .btn__about {
    width: 12rem;
    height: 3rem;
    margin: 0.5rem; }
    .btn__about:hover {
      background-color: rgba(56, 67, 71, 0.6);
      transform: scale(1.05);
      -webkit-transform: scale(1.05);
      -moz-transform: scale(1.05); }

.skills {
  height: 100%;
  position: relative;
  background-color: #d2d6d9;
  color: #282828; }
  @media only screen and (max-width: 30rem) {
    .skills {
      height: min-content; } }
  .skills .skills {
    color: #282828; }
  .skills .page__title-number::before {
    background-color: #282828; }

.grid {
  padding: 15rem 0 15rem 0;
  height: 100%;
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 2rem;
  grid-column-gap: 2rem;
  margin: 0 5rem 0 5rem;
  align-items: center;
  justify-content: space-evenly;
  transition: 2s; }
  @media only screen and (max-width: 48rem) {
    .grid {
      padding: 12rem 0 12rem 0;
      grid-template-columns: repeat(2, 1fr); } }
  @media only screen and (max-width: 30rem) {
    .grid {
      margin: 0 3rem 0 3rem;
      padding: 10rem 0 10rem 0;
      grid-template-columns: 1fr; } }

.skill {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 100%; }
  @media only screen and (max-width: 30rem) {
    .skill {
      font-size: 80%; } }
  .skill__image {
    position: relative;
    opacity: 0;
    width: 10rem;
    overflow: hidden;
    padding-right: 1rem; }
    .skill__image .react {
      transform: scale(1.2);
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2); }
    .skill__image img {
      width: 90%;
      height: 90%; }
  .skill__information {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column; }
    .skill__information-frame {
      opacity: 0;
      display: flex;
      align-items: baseline; }
    .skill__information-name {
      font-weight: 600; }
    .skill__information-experience {
      font-size: 70%;
      font-weight: 200;
      margin-left: 2rem;
      color: #384347; }
  .skill__bar {
    opacity: 0;
    width: 100%;
    height: 0.8rem;
    border-radius: 50px; }

.html {
  background-image: linear-gradient(to right, #e54c21 50%, black); }

.css {
  background-image: linear-gradient(to right, #264de4 50%, black); }

.js {
  background-image: linear-gradient(to right, #f7e018 50%, black); }

.react {
  background-image: linear-gradient(to right, #5ee3f2 50%, black); }

.bootstrap {
  background-image: linear-gradient(to right, #5d2b4f 50%, black); }

.sass {
  background-image: linear-gradient(to right, #cc6699 50%, black); }

.mysql {
  background-image: linear-gradient(to right, #03658c 50%, black); }

.node {
  background-image: linear-gradient(to right, #71a668 50%, black); }

.jquery {
  background-image: linear-gradient(to right, #035aa6 50%, black); }

.git {
  background-image: linear-gradient(to right, #f24130 50%, black); }

.diamond {
  position: relative;
  opacity: 0;
  width: 1%;
  height: 100%;
  border-radius: 50px;
  background-color: white;
  filter: brightness(0.9);
  -webkit-filter: brightness(0.9);
  box-shadow: 0px 0px 25px 20px white; }

.projects {
  min-height: 100%;
  height: min-content;
  position: relative; }

.timeLine {
  width: 100%;
  padding-top: 15rem; }

.project {
  width: 50%;
  display: flex;
  z-index: 3;
  padding: 1rem 1rem 1rem 3rem;
  align-items: center;
  position: relative;
  flex-wrap: wrap; }
  .project::after {
    content: "";
    height: 100%;
    width: 0.6rem;
    background-image: url(img/line.png);
    background-repeat: repeat;
    position: absolute; }
  .project:hover .year {
    color: #a52c2c;
    border-color: #a52c2c; }
  .project:hover .project__photo {
    width: 60%;
    filter: brightness(1);
    -webkit-filter: brightness(1); }
    .project:hover .project__photo-name {
      display: none; }
    .project:hover .project__photo-icon {
      display: flex; }
  .project:hover .project__about {
    width: 40%;
    visibility: visible; }
  @media only screen and (max-width: 56.25rem) {
    .project:hover .project__about {
      width: 100%;
      display: block; }
    .project:hover .project__photo {
      width: 100%; } }
  .project .year {
    width: 5rem;
    height: 5rem;
    background-color: #282828;
    border: 4px solid #d2d6d9;
    transform: rotateZ(45deg);
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    position: absolute;
    right: -2.5rem;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media only screen and (max-width: 30rem) {
      .project .year {
        left: 0; } }
    .project .year div {
      transform: rotateZ(-45deg);
      -webkit-transform: rotateZ(-45deg);
      -moz-transform: rotateZ(-45deg); }
  .project__left {
    flex-direction: row;
    height: min-content; }
    .project__left::after {
      right: -0.3rem; }
      @media only screen and (max-width: 30rem) {
        .project__left::after {
          left: 5.7rem; } }
  .project__right {
    flex-direction: row-reverse;
    padding: 1rem 3rem 1rem 1rem;
    margin-left: auto; }
    .project__right::after {
      left: -0.3rem; }
      @media only screen and (max-width: 30rem) {
        .project__right::after {
          left: 5.7rem; } }
    .project__right .year {
      left: -2.5rem; }
  @media only screen and (max-width: 56.25rem) {
    .project__left, .project__right {
      flex-direction: column-reverse; }
      .project__left .year, .project__right .year {
        top: -0.5rem; } }
  @media only screen and (max-width: 30rem) {
    .project__left, .project__right {
      width: 100%;
      padding: 1rem 1rem 1rem 10rem; }
      .project__left .year, .project__right .year {
        top: -0.5rem;
        left: 3.5rem; } }
  .project__about {
    width: 30%;
    visibility: hidden;
    color: #86a69a;
    font-size: 90%;
    font-weight: 100;
    padding: 0.5rem;
    transition: 0.5s; }
    @media only screen and (max-width: 56.25rem) {
      .project__about {
        width: 100%;
        display: none; } }
    .project__about-name {
      font-size: 110%;
      color: #a52c2c; }
    .project__about-description {
      color: currentColor; }
    .project__about-tech {
      display: inline-block;
      margin: 0 0.2rem 0 0.2rem;
      border: 2px solid currentColor;
      border-radius: 5px;
      font-size: 70%;
      padding: 0 0.5rem 0 0.5rem; }
  .project .polluted {
    background-image: url(img/polluted.jpg);
    background-size: cover;
    background-position: center; }
  .project .foodhouse {
    background-image: url(img/foodhouse.jpg);
    background-size: cover;
    background-position: center; }
  .project .portfolio {
    background-image: url(img/portfolio.jpg);
    background-size: cover;
    background-position: center; }
  .project .formcreator {
    background-image: url(img/formcreator.jpg);
    background-size: cover;
    background-position: center; }
    .project .formcreator .project__photo-name {
      border-color: #384347;
      color: #282828; }
  .project__photo {
    width: 70%;
    height: 20rem;
    position: relative;
    filter: brightness(0.2);
    -webkit-filter: brightness(0.2);
    transition: 0.5s; }
    @media only screen and (max-width: 56.25rem) {
      .project__photo {
        width: 100%; } }
    .project__photo-name {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      width: 15rem;
      height: 15rem;
      border-radius: 100%;
      border: 6px solid #d2d6d9;
      display: flex;
      align-items: center;
      justify-content: center; }
    .project__photo-icon {
      display: none;
      font-size: 200%;
      width: 100%;
      height: 100%;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center; }
      .project__photo-icon a {
        color: #a52c2c; }
      .project__photo-icon div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 4.8rem;
        height: 4.8rem;
        border-radius: 100%;
        background-color: rgba(134, 166, 154, 0.5);
        cursor: pointer; }
        .project__photo-icon div:hover {
          background-color: #d2d6d9;
          filter: contrast(1.5);
          -webkit-filter: contrast(1.5);
          transform: scale(1.2);
          -webkit-transform: scale(1.2);
          -moz-transform: scale(1.2); }

.contact {
  height: 100%;
  background: url(img/contacts.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  color: #282828;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }
  .contact__header {
    text-align: center;
    font-size: 300%;
    padding: 3rem; }
  .contact__links {
    width: 100%; }
  .contact .page__title-number::before {
    background-color: #282828; }
  .contact__content {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 3rem;
    height: 40%; }
    @media only screen and (max-width: 48rem) {
      .contact__content {
        flex-direction: column;
        width: 100%;
        align-items: center;
        height: 60%; } }
  .contact .btn {
    padding: 1rem;
    border-radius: 50px; }
    .contact .btn:hover {
      background-color: #a52c2c; }

.address__title {
  font-size: 80%;
  text-transform: uppercase;
  font-weight: 800; }

.address__code {
  font-size: 120%;
  font-weight: 100; }

.address__link {
  color: currentColor; }
  .address__link:hover, .address__link:active {
    text-decoration: none;
    color: #86a69a; }

.message {
  box-sizing: content-box;
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column; }
  @media only screen and (max-width: 48rem) {
    .message {
      width: 80%; } }
  .message__line {
    display: flex; }
    .message__line .message__input:last-child {
      margin-left: 1rem; }
  .message__input {
    padding: .5rem;
    margin: .5rem 0 .5rem 0;
    width: 100%;
    background-color: transparent;
    border: 1px solid #282828;
    color: #282828; }
    .message__input:focus {
      background-color: #d2d6d9;
      color: #282828;
      outline: none; }
      .message__input:focus::placeholder {
        color: #282828; }
    .message__input::placeholder {
      color: #86a69a;
      font-weight: 200; }
    .message__input-message {
      height: 200%; }
  .message__btn {
    width: 60%;
    background-color: #d2d6d9;
    color: #282828;
    align-self: center; }
  .message .validate {
    width: 100%;
    font-weight: 100;
    color: #a52c2c;
    visibility: hidden; }
    .message .validate__email {
      font-weight: 100;
      display: none;
      text-align: end; }

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  border-top: 3px solid #a52c2c; }
  @media only screen and (max-width: 56.25rem) {
    .footer {
      padding: 1.2rem;
      border-top: 2px solid red-color; } }
  @media only screen and (max-width: 30rem) {
    .footer {
      padding: .7rem;
      border-top: 1px solid red-color; } }
  .footer__link:link, .footer__link:visited {
    padding-left: 1rem;
    text-decoration: none;
    color: #86a69a;
    transition: all .4s; }
  .footer__link:hover {
    color: #d2d6d9;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1); }
  .footer__author, .footer__powered {
    display: flex;
    justify-content: center; }
  .footer__powered {
    font-size: 50%; }
