/* Color Theme Swatches in RGBA */
@font-face {
  font-family: disney_font;
  src: url(fonts/disney.otf); }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  box-sizing: border-box;
  height: 100%;
  font-size: 62.5%; }

body {
  background-color: #0c313f;
  height: 100%;
  color: #d2d6d9;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  font-size: 1.8rem; }

.root, .App {
  position: relative;
  height: 100%; }

body::-webkit-scrollbar {
  width: .7em;
  background-color: #0c313f; }

body::-webkit-scrollbar-thumb {
  border: 1Fpx solid #0c313f;
  background-color: #d2d6d9;
  border-radius: 50px; }

.page__title {
  position: absolute;
  top: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 9; }
  @media only screen and (max-width: 30rem) {
    .page__title {
      top: 4rem; } }
  .page__title-text {
    display: flex;
    align-self: center;
    font-size: 200%;
    letter-spacing: .5rem;
    margin: auto;
    transform: translateX(-5rem); }
    @media only screen and (max-width: 30rem) {
      .page__title-text {
        font-size: 100%;
        margin-left: 5%;
        transform: translateX(0); } }
  .page__title-number {
    display: flex;
    align-items: center;
    font-family: 'Lucida Grande';
    color: #a52c2c;
    font-weight: 900;
    font-size: 250%; }
    @media only screen and (max-width: 30rem) {
      .page__title-number {
        font-size: 125%; } }
    .page__title-number::before {
      content: " ";
      display: block;
      width: 5rem;
      height: 3px;
      background-color: #d2d6d9;
      margin-right: 1rem; }
      @media only screen and (max-width: 30rem) {
        .page__title-number::before {
          width: 3rem;
          height: 2px; } }

@keyframes photo_flash {
  0% {
    background: white; }
  100% {
    background: none; } }

@keyframes make_photo {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes blur {
  100% {
    filter: blur(20px); } }

@keyframes rotate {
  0% {
    transform: rotateX(0) rotateY(0) rotateZ(0); }
  100% {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg); } }

@keyframes coverFromLeft {
  0% {
    width: 0; }
  75% {
    width: 100%; }
  85% {
    width: 0%; }
  100% {
    width: 0%; } }

@keyframes show__slide {
  100% {
    visibility: visible; } }

@keyframes zooming {
  0% {
    transform: scale(1) translate(-50%, -50%); }
  100% {
    transform: scale(1.4) translate(-30%, -50%); } }

@keyframes scroll {
  0% {
    top: 1rem; }
  100% {
    top: 2rem; } }

@keyframes move__down {
  0% {
    top: -5rem; }
  100% {
    top: 0; } }

@keyframes move__right {
  0% {
    left: -3rem; }
  100% {
    left: 2rem;
    opacity: 1; } }

@keyframes move__up {
  0% {
    bottom: -5rem; }
  100% {
    bottom: 0rem;
    opacity: 1; } }

.header {
  height: 100%;
  background-color: white;
  animation: coverFromLeft 4s 2 forwards; }
  .header__loader {
    height: 100%;
    position: absolute;
    width: 100%;
    font-size: 300%;
    font-weight: 900;
    animation: show__slide 3s;
    align-items: center;
    letter-spacing: 1rem;
    text-transform: uppercase;
    visibility: hidden; }
    @media only screen and (max-width: 48rem) {
      .header__loader {
        font-size: 100%;
        letter-spacing: .4rem; } }

.text__center {
  color: #86a69a;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.text__zoom {
  font-size: 100%;
  line-height: 1;
  font-weight: 900;
  letter-spacing: 0.2rem;
  animation: zooming 1s linear 3s forwards; }
  @media only screen and (max-width: 30rem) {
    .text__zoom {
      font-size: 50%; } }

.slide__one, .slide__two, .slide__three {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  visibility: hidden;
  z-index: -1; }

.slide__one {
  background-color: black;
  animation: show__slide 4s linear; }

.slide__two {
  background-image: radial-gradient(#0e4459 20%, #0c313f 70%);
  animation: show__slide 4s linear 3s; }

.slide__three {
  background-image: radial-gradient(black 20%, #0c313f 70%);
  background-repeat: no-repeat;
  background-position: -35rem;
  background-color: #0c313f;
  display: flex;
  justify-content: start;
  animation: show__slide 4s linear 3s forwards;
  z-index: -2;
  transition: 2s; }
  @media only screen and (max-width: 56.25rem) {
    .slide__three {
      background-position: -25rem; } }
  @media only screen and (max-width: 48rem) {
    .slide__three {
      background-position: -20rem -20rem; } }
  @media only screen and (max-width: 30rem) {
    .slide__three {
      background-position: -15rem -20rem; } }

.background__decoration {
  width: 100%;
  position: relative;
  overflow: hidden; }

.decoration {
  width: 17%;
  position: absolute;
  right: 40%;
  transform: rotate(45deg) scale(0.9);
  transition: 2s;
  z-index: -1; }
  @media only screen and (max-width: 56.25rem) {
    .decoration {
      right: 50%;
      transform: rotate(45deg) scale(0.8); } }
  @media only screen and (max-width: 48rem) {
    .decoration {
      right: 62%;
      transform: rotate(45deg) scale(0.7); } }
  @media only screen and (max-width: 30rem) {
    .decoration {
      right: 50%;
      transform: rotate(45deg) scale(0.5); } }
  .decoration1, .decoration2, .decoration3 {
    position: relative;
    border-radius: 35px;
    border: 15px solid rgba(165, 44, 44, 0.5); }
  .decoration1, .decoration3 {
    width: 16rem;
    height: 16rem; }
  .decoration2 {
    width: 32rem;
    height: 32rem;
    margin: 2.5rem 0 2.5rem 0; }
  .decoration3 {
    margin-left: 16rem; }
  .decoration__text-1, .decoration__text-2, .decoration__text-3 {
    position: absolute;
    text-align: center;
    top: 25%;
    transform: rotate(-45deg); }
  .decoration__text-1 {
    top: 35%;
    left: 20%; }
  .decoration__text-1, .decoration__text-3 {
    font-size: 120%; }
  .decoration__text-2 {
    left: 12%;
    font-size: 250%;
    font-weight: 900;
    letter-spacing: 5px; }

.background__spiner {
  width: 50%;
  position: relative; }
  @media only screen and (max-width: 30rem) {
    .background__spiner {
      width: 0; } }

.spiner {
  position: absolute;
  top: 25rem;
  left: 50%;
  width: 15rem;
  height: 15rem;
  transform-style: preserve-3d;
  transition: 2s;
  animation: rotate 30s linear infinite; }
  @media only screen and (max-width: 48rem) {
    .spiner {
      top: 20%;
      left: 8rem;
      width: 10rem;
      height: 10rem; } }

.spin__icon-1, .spin__icon-2, .spin__icon-3, .spin__icon-4, .spin__icon-5, .spin__icon-6 {
  position: absolute;
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  box-shadow: 0 0 4rem #d2d6d9, inset 0 0 6rem rgba(134, 166, 154, 0.5); }
  @media only screen and (max-width: 56.25rem) {
    .spin__icon-1, .spin__icon-2, .spin__icon-3, .spin__icon-4, .spin__icon-5, .spin__icon-6 {
      width: 20rem;
      height: 20rem; } }
  @media only screen and (max-width: 48rem) {
    .spin__icon-1, .spin__icon-2, .spin__icon-3, .spin__icon-4, .spin__icon-5, .spin__icon-6 {
      width: 15rem;
      height: 15rem; } }
  @media only screen and (max-width: 30rem) {
    .spin__icon-1, .spin__icon-2, .spin__icon-3, .spin__icon-4, .spin__icon-5, .spin__icon-6 {
      width: 10rem;
      height: 10rem; } }

.spin__icon-1 {
  transform: rotateX(0deg) rotateY(0deg); }

.spin__icon-2 {
  transform: rotateX(0deg) rotateY(60deg); }

.spin__icon-3 {
  transform: rotateX(60deg) rotateY(0deg); }

.spin__icon-4 {
  transform: rotateX(0deg) rotateY(-60deg); }

.spin__icon-5 {
  transform: rotateX(-60deg) rotateY(0deg); }

.navigation {
  width: 100%; }

.nav {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 3rem 0 3rem;
  font-size: 150%;
  animation: move__down 2s linear 7s forwards; }
  @media only screen and (max-width: 30rem) {
    .nav {
      font-size: 100%; } }
  .nav__link {
    color: blue;
    text-decoration: none;
    cursor: pointer;
    width: 8rem;
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 30rem) {
      .nav__link {
        width: 6rem; } }
    .nav__link i {
      color: #d2d6d9; }
    .nav__link .github:hover {
      border-radius: 100%;
      background-color: white;
      color: black; }
    .nav__link .linkedin:hover {
      width: 23px;
      height: 23px;
      background-color: white;
      color: blue; }

.side__navigation {
  position: fixed;
  top: 50%;
  width: 5%;
  margin-left: 1rem;
  transform: translate(0, -50%);
  z-index: 10;
  list-style-type: circle;
  animation: move__right 2s linear 7s forwards; }
  .side__navigation .active {
    list-style-type: disc; }
  .side__navigation a {
    text-decoration: none; }
  .side__navigation-text {
    color: #d2d6d9;
    font-weight: 100;
    width: 100%;
    display: block;
    opacity: 0;
    cursor: pointer;
    transition: all 0.5s; }
    .side__navigation-text:hover {
      opacity: 1; }

.mouse {
  width: 8rem;
  margin-bottom: 2rem;
  position: fixed;
  display: flex;
  justify-content: center;
  left: 50%;
  transform: translate(-50%);
  z-index: 10;
  animation: move__up 2s linear 7s forwards; }
  @media only screen and (max-width: 48rem) {
    .mouse {
      transform: scale(0.8) translate(-60%); } }
  @media only screen and (max-width: 30rem) {
    .mouse {
      margin-bottom: -0.5rem;
      transform: scale(0.6) translate(-80%); } }

.scroll {
  width: 4rem;
  height: 6rem;
  border: 0.3rem solid #86a69a;
  border-radius: 5rem;
  position: relative; }
  .scroll:hover {
    background-color: #d2d6d9;
    border-color: #d2d6d9; }
  .scroll__icon {
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: 1rem;
    left: 1.15rem;
    border-radius: 100%;
    background-color: #86a69a;
    animation: scroll 2s infinite; }
  .scroll__text {
    position: absolute;
    top: 3rem;
    font-size: 80%; }

.about {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden; }
  .about__background {
    width: 100%;
    height: 100%;
    background: url(img/me.jpg);
    background-size: cover;
    background-position: center;
    animation: blur 1s 2s forwards; }

.flash {
  display: flex;
  width: 100%;
  height: 100%;
  animation: photo_flash 3s 2s forwards;
  transition: 2s;
  position: absolute;
  top: 0;
  left: 0; }

.background__card {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }
  @media only screen and (max-width: 48rem) {
    .background__card {
      width: 100%;
      position: absolute;
      height: 90%;
      margin: auto 0 0 0;
      justify-content: space-between; } }

.card {
  width: 25rem;
  height: 30rem;
  transition: 2s;
  opacity: 0;
  box-shadow: 15px 15px 20px black;
  animation: make_photo 3s 2s forwards;
  border-style: solid;
  border-width: 1.5rem 1.5rem 8rem 1.5rem;
  border-color: white;
  background-image: url(img/mee.jpg);
  background-size: cover;
  transform: skewX(-10deg) skewY(10deg); }
  @media only screen and (max-width: 48rem) {
    .card {
      transform: scale(0.7) skewX(-10deg) skewY(10deg) translate(20rem, 8rem);
      z-index: 3; } }
  @media only screen and (max-width: 30rem) {
    .card {
      transform: scale(0.6) skewX(-10deg) skewY(10deg) translate(20rem, 8rem);
      z-index: 3; } }
  .card__motto {
    font-size: 110%;
    width: 100%;
    text-align: center;
    font-family: "disney_font";
    color: #0c313f;
    position: absolute;
    bottom: -7rem; }

.background__information {
  width: 50%;
  height: 100%;
  display: flex; }
  @media only screen and (max-width: 48rem) {
    .background__information {
      font-size: 80%;
      width: 80%;
      margin: auto; } }

.information__card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto 0 auto auto;
  padding: 4rem 3rem;
  overflow: auto;
  opacity: 0;
  width: 80%;
  height: 60%;
  border-radius: 10px;
  background-color: rgba(14, 68, 89, 0.6);
  animation: move__right 2s linear 4s forwards; }
  .information__card::-webkit-scrollbar {
    width: .6em;
    background-color: #0c313f;
    border-radius: 50px; }
  .information__card::-webkit-scrollbar-thumb {
    background-color: #d2d6d9;
    border: 1px solid #0c313f;
    border-radius: 50px;
    height: 20rem;
    width: 20rem; }
  .information__card::before {
    content: "\201C";
    position: absolute;
    top: -2rem;
    left: 0rem;
    line-height: 1;
    font-size: 23rem;
    color: rgba(210, 214, 217, 0.2);
    font-family: sans-serif;
    z-index: 1; }
  @media only screen and (max-width: 48rem) {
    .information__card {
      width: 100%;
      height: 50%;
      margin: auto 0 40% 0;
      z-index: 2;
      padding: 3rem 2rem; } }

.title {
  margin-bottom: 3rem;
  letter-spacing: .5rem; }
  @media only screen and (max-width: 30rem) {
    .title {
      letter-spacing: .3rem; } }

.buttons {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  opacity: 0;
  animation: move__right 2s linear 4s forwards; }
  @media only screen and (max-width: 30rem) {
    .buttons {
      width: 100%;
      justify-content: space-around; } }

.btn {
  border: none;
  background-color: transparent;
  color: #d2d6d9;
  width: auto;
  font-size: 100%; }
  .btn__about {
    width: 12rem;
    height: 3rem;
    margin: 0.5rem; }
    .btn__about:hover {
      background-color: rgba(14, 68, 89, 0.6);
      transform: scale(1.05); }

.skills {
  height: 100%;
  position: relative; }

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem; }
