.about {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;

  &__background {
    width: 100%;
    height: 100%;
    background: url(img/about_background.jpg);
    background-size: cover;
    background-position: center;
  }
  .page__title{
    color: $primary-color;
  &-number::before {
    background-color: $primary-color;
  }}
}
.flash {
  display: flex;
  width: 100%;
  height: 100%;
  transition: 2s;
  position: absolute;
  top: 0;
  left: 0;
}

.background__card {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  @media only screen and (max-width: $tablet) {
    width: 100%;
    position: absolute;
    height: 90%;
    margin: auto 0 0 0;
    justify-content: space-between;
  }
}
.card {
  width: 25rem;
  height: 30rem;
  transition: 2s;
  opacity: 0;
  box-shadow: 15px 15px 20px black;
  border-style: solid;
  border-width: 1.5rem 1.5rem 8rem 1.5rem;
  border-color: white;
  background-image: url(img/me.jpg);
  background-size: cover;
  transform: skewX(-10deg) skewY(10deg);
  -webkit-transform: skewX(-10deg) skewY(10deg);
  -moz-transform: skewX(-10deg) skewY(10deg);
  z-index: 3;

  @media only screen and (max-width: $tablet-land) {
    transform: scale(0.8) skewX(-10deg) skewY(10deg) ;
    -webkit-transform: scale(0.8) skewX(-10deg) skewY(10deg) ;
    -moz-transform: scale(0.8) skewX(-10deg) skewY(10deg) ;
  }

  @media only screen and (max-width: $tablet) {
    transform: scale(0.7) skewX(-10deg) skewY(10deg) translate(120%, -10%);
    -webkit-transform: scale(0.7) skewX(-10deg) skewY(10deg) translate(120%, -10%);
    -moz-transform: scale(0.7) skewX(-10deg) skewY(10deg) translate(120%, -10%);
  }

  @media only screen and (max-width: $phone) {
    transform: scale(0.7) skewX(-10deg) skewY(10deg) translate(50%, 10%);
    -webkit-transform: scale(0.7) skewX(-10deg) skewY(10deg) translate(50%, 10%);
    -moz-transform: scale(0.7) skewX(-10deg) skewY(10deg) translate(50%, 10%);

  }

  &__motto {
    font-size: 110%;
    width: 100%;
    text-align: center;
    font-family: "disney_font";
    color: $primary-color;
    position: absolute;
    bottom: -7rem;
  }
}

.background__information {
  width: 80%;
  height: 100%;
  display: flex;
  @media only screen and (max-width: $tablet-land) {
    font-size: 80%;
    width: 80%;
    margin: auto;
  }
}
.information__card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto 0 auto auto;
  padding: 4rem 3rem; 
  overflow: auto;
  opacity: 0;
  width: 80%;
  height: 60%;
  border-radius: 10px;
  background-color: rgba($primary-color-light, 0.6);
 
  &::-webkit-scrollbar {
    width: .6em;
    background-color: $primary-color;
    border-radius:  50px;

  }
  
  &::-webkit-scrollbar-thumb {
  background-color: $secondary-color-light;
  border: 1px solid $primary-color;
  border-radius: 50px;
  height: 20rem;
  width: 20rem;
  }

  &::before {
    content: "\201C";
    position: absolute;
    top: -2rem;   
    left: 0rem;
    line-height: 1;
    font-size: 23rem; 
    color: rgba($secondary-color-light,.2);
    font-family: sans-serif;
    z-index: 1;
  }

  @media only screen and (max-width: $tablet-land) {
width: 80%;
  }

  @media only screen and (max-width: $tablet){
    height: 50%; 
    margin: auto 0 30% 0;
    z-index: 2;
    padding: 3rem 2rem; 
  }

  @media only screen and (max-width: $phone){
    width: 100%;
    margin: auto 0 2% 0;

    font-size: 80%;
  }

  @media only screen and (max-width: $phone),screen and (max-height: 300px){
    width: 100%;
    margin: auto 0 40% 0;

    font-size: 80%;
  }


}

.title {
  margin-bottom: 3rem;
  letter-spacing: .5rem;
  @media only screen and (max-width: $phone) {
letter-spacing: .3rem;
  }
}

.buttons {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  opacity: 0;
  @media only screen and (max-width: $phone) {
    width: 100%;
    justify-content: space-around;
  }
}

.btn {
  border: none;
  background-color: transparent;
  color: $secondary-color-light;
  width: auto;
  font-size: 100%;

  &__about {
    width: 12rem;
    height: 3rem;
    margin: 0.5rem;
    &:hover {
      background-color: rgba($primary-color-light, 0.6);
      transform: scale(1.05);
      -webkit-transform: scale(1.05);
      -moz-transform: scale(1.05);
    }
  }
}


