.contact {
    height: 100%; 
    background-image: url(../img/contact.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    color: $primary-color;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    &__header {
        text-align: center;
        font-size: 300%; 
        padding: 3rem;;
    }
    &__links{
        width: 100%;
    }

    .page__title-number::before {
        background-color: $primary-color;
      }
    &__content {
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 3rem;
        height: 40%;
        @media only screen and (max-width: $tablet) {
            flex-direction: column;
            width:100%;
            align-items: center;
            height: 60%;
          }
    }
    .btn {
        padding: 1rem;
        border-radius: 50px; 
        &:hover {
            background-color: $red-color;
        }
    }
}

.address {
    &__title {
        font-size: 80%;
        text-transform: uppercase;
        font-weight: 800;
    }

    &__code {
        font-size: 120%;
        font-weight: 100;
    }

    &__link {
        color: currentColor;
        &:hover,
        &:active {
            text-decoration: none;
            color: $secondary-color;
        }
    }
}

.message {
    box-sizing: content-box;
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    @media only screen and (max-width: $tablet) {
        width: 80%;
    }
 
    &__line {
        display: flex;

        .message__input{
            &:last-child{
                margin-left: 1rem;
            }
        }
    }
    
    &__input {
        padding: .5rem;
        margin: .5rem 0 .5rem 0;
        width: 100%;
        background-color: transparent;
        border: 1px solid $primary-color;
        color: $primary-color;

        &:focus {
            background-color: $secondary-color-light;
            color: $primary-color;
            outline: none;
            &::placeholder{
                color: $primary-color;
            }
        }

        &::placeholder {
            color: $secondary-color;
            font-weight: 200;
        }

        &-message {
            height: 200%;        }
    }

    &__btn {
        width: 60%;
        background-color: $secondary-color-light;
        color: $primary-color;
        align-self: center;
    } 
}

