.footer {
    display: none;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    border-top: 3px solid $red-color;

  @media only screen and (max-width: $tablet_land) {
    padding: 1.2rem;
    border-top: 2px solid red-color;   
   } 
  @media only screen and (max-width: $phone) {
      padding: .7rem;
    border-top: 1px solid red-color;   
    font-size: 50%;
   } 

    &__link {
        &:link,
        &:visited {
        padding-left: 1rem;
        text-decoration: none; 
        color: $secondary-color;
            transition: all .4s;
        }
        &:hover{
            color: $secondary-color-light;
            transform: scale(1.1);
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
        } 
    }
    &__author,
    &__powered {
        display: flex;
        justify-content: center;
    }
    &__powered {
        font-size: 50%;
    }
}