.header {
  height: 100%;
  background-color: white;
  animation: coverFromLeft 4s 2 forwards;
  -webkit-animation: coverFromLeft 4s 2 forwards;
  -moz-animation: coverFromLeft 4s 2 forwards;
  transition: 2s;

  &__loader {
    height: 100%;
    position: absolute;
    width: 100%;
    font-size: 300%;
    font-weight: 900;
    animation: show__slide 3s;
    -webkit-animation: show__slide 3s;
    -moz-animation: show__slide 3s;

    align-items: center;
    letter-spacing: 1rem;
    text-transform: uppercase;
    visibility: hidden;

    @media only screen and (max-width: $tablet) {
      font-size: 100%;
      letter-spacing: .4rem;
    } 
  }
}
.text__center {
  color: $secondary-color;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
}

.text__zoom {
  font-size: 100%;
  line-height: 1;
  font-weight: 900;
  letter-spacing: 0.2rem;
  animation: zooming 1s linear 3s forwards;
  -webkit-animation: zooming 1s linear 3s forwards;
  -moz-animation: zooming 1s linear 3s forwards;
  @media only screen and (max-width: $phone) {
    font-size: 50%;
  }
}

.slide {
  &__one,
  &__two,
  &__three {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    z-index: -1;
  }
  &__one {
    background-color: black;
    animation: show__slide 4s linear;
    -webkit-animation: show__slide 4s linear;
    -moz-animation: show__slide 4s linear;
  }

  &__two {
    background-image: radial-gradient(
      $primary-color-light 20%,
      $primary-color 70%
    );    animation: show__slide 4s linear 3s;
    -webkit-animation: show__slide 4s linear 3s;
    -moz-animation: show__slide 4s linear 3s;
  }

  &__three {
    background-image: radial-gradient(
      black 20%,
      $primary-color 70%
    );
    background-repeat: no-repeat;
    background-position: -35rem;
    background-color: $primary-color;
    display: flex;
    justify-content: start;
    animation: show__slide 4s linear 3s forwards;
    -webkit-animation: show__slide 4s linear 3s forwards;
    -moz-animation: show__slide 4s linear 3s forwards;
    z-index: -2; 
    transition: 2s;
    @media only screen and (max-width: $tablet_land) {
      background-position: -25rem;

    }
    @media only screen and (max-width: $tablet) {
      background-position: -20rem -20rem;

    }
    @media only screen and (max-width: $phone) {
      background-position: -5rem -15rem;

    }
  }
}

.background__decoration {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.decoration {
  width: 17%;
  position: absolute;
  right: 40%;
  transform: rotate(45deg) scale(0.9);
  -webkit-transform: rotate(45deg) scale(0.9);
  -moz-transform: rotate(45deg) scale(0.9);
  transition: 2s;
  z-index: -1;

  @media only screen and (max-width: $tablet_land) {
    right: 50%;
    transform: rotate(45deg) scale(0.8);
    -webkit-transform: rotate(45deg) scale(0.8);
    -moz-transform: rotate(45deg) scale(0.8);
  }
  @media only screen and (max-width: $tablet_land),screen and (max-height:720px) {
    right: 40%;
    top: -15%;
    transform: rotate(45deg) scale(0.7);
    -webkit-transform: rotate(45deg) scale(0.7);
    -moz-transform: rotate(45deg) scale(0.7);
  }
  @media only screen and (max-width: $tablet_land),screen and (max-height: 600px) {
    transform: rotate(45deg) scale(0.6);
    -webkit-transform: rotate(45deg) scale(0.6);
    -moz-transform: rotate(45deg) scale(0.6);
  }

  @media only screen and (max-width: $tablet) {
    right: 62%;
    transform: rotate(45deg) scale(0.7);
    -webkit-transform: rotate(45deg) scale(0.7);
    -moz-transform: rotate(45deg) scale(0.7);
  }

  @media only screen and (max-width: $phone) {
    top: -10%;
    right: 50%;
    transform: rotate(45deg) scale(0.5);
    -webkit-transform: rotate(45deg) scale(0.5);
    -moz-transform: rotate(45deg) scale(0.5);
  }
  &1,
  &2,
  &3 {
    position: relative;
    border-radius: 35px;
    border: 15px solid rgba($red-color, 0.5);
  }

  &1,
  &3 {
    width: 16rem;
    height: 16rem;
  }
  &2 {
    width: 32rem;
    height: 32rem;
    margin: 2.5rem 0 2.5rem 0;
  }
  &3 {
    margin-left: 16rem;
  }

  &__text {
    &-1,
    &-2,
    &-3 {
      position: absolute;
      text-align: center;
      top: 25%;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
    }
    &-1 {
      top: 35%;
      left: 20%;
    }
    &-1,
    &-3 {
      font-size: 120%;
    }
    &-2 {
      left: 12%;
      font-size: 250%;
      font-weight: 900;
      letter-spacing: 5px;
    }
  }
}

//animation spinier
.background__spiner {
  width: 50%;
  position: relative;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  @media only screen and (max-width: $phone) {
    width: 0;
  }
}
.spiner {
  position: absolute;
  top: 25rem;
  left: 50%;
  width: 15rem;
  height: 15rem;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  // transition: 2s;
  animation: rotate 30s linear infinite;
  -webkit-animation: rotate 30s linear infinite;
  -moz-animation: rotate 30s linear infinite;
  @media only screen and (max-width: $tablet) {
    top: 15%;
    left: 6rem;
    width: 10rem;
    height: 10rem;
  }
}
.spin__icon {
  &-1,
  &-2,
  &-3,
  &-4,
  &-5,
  &-6 {
    position: absolute;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    box-shadow: 0 0 4rem rgba($secondary-color-light, 1),
      inset 0 0 6rem rgba($secondary-color, 0.5);

    @media only screen and (max-width: $tablet-land) {
      width: 20rem;
      height: 20rem;
    }
    @media only screen and (max-width: $tablet) {
      width: 15rem;
      height: 15rem;
    }
    @media only screen and (max-width: $phone) {
      width: 10rem;
      height: 10rem;
    }
  }

  &-1 {
    transform: rotateX(0deg) rotateY(0deg);
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
  }
  &-2 {
    transform: rotateX(0deg) rotateY(60deg);
    -webkit-transform: rotateX(0deg) rotateY(60deg);
    -moz-transform: rotateX(0deg) rotateY(60deg);
  }
  &-3 {
    transform: rotateX(60deg) rotateY(0deg);
    -webkit-transform: rotateX(60deg) rotateY(0deg);
    -moz-transform: rotateX(60deg) rotateY(0deg);
  }
  &-4 {
    transform: rotateX(0deg) rotateY(-60deg);
    -webkit-transform: rotateX(0deg) rotateY(-60deg);
    -moz-transform: rotateX(0deg) rotateY(-60deg);
  }
  &-5 {
    transform: rotateX(-60deg) rotateY(0deg);
    -webkit-transform: rotateX(-60deg) rotateY(0deg);
    -moz-transform: rotateX(-60deg) rotateY(0deg);
  }
}

