.projects {
  min-height: 100%;
  height: min-content;
  position: relative;
}

.timeLine {
  width: 100%;
  padding-top: 15rem;
}

.project {
  width: 50%;
  display: flex;
  z-index: 3;
  padding: 1rem 1rem 1rem 3rem;
  align-items: center;
  position: relative;
  flex-wrap: wrap;

  &::after {
    content: "";
    height: 100%;
    width: 0.6rem;
    background-image: url(img/line.png);
    background-repeat: repeat;
    position: absolute;
  }

  &:hover {
    .year {
      color: $red-color;
      border-color: $red-color; 
    }
    .project__photo {
      width: 60%;
      filter: brightness(1);
      -webkit-filter: brightness(1);
      &-name {
        display: none;
      }
      &-icon {
        display: flex;
      }
    }
    .project__about {
      width: 40%;
      visibility: visible;
    }
    @media only screen and (max-width: $tablet-land) {
      .project__about {
        width: 100%;
        display: block;
      }
      .project__photo {
        width: 100%;
      }
    }
  }
  .year {
    width: 5rem;
    height: 5rem;
    background-color: $primary-color;
    border: 4px solid $secondary-color-light;
    transform: rotateZ(45deg);
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    position: absolute;
    right: -2.5rem;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    @media only screen and (max-width: $phone) {
      left: 0;
    }
    div {
      transform: rotateZ(-45deg);
      -webkit-transform: rotateZ(-45deg);
      -moz-transform: rotateZ(-45deg);
    }
  }

  &__left {
    flex-direction: row;
    height: min-content;
    &::after {
      right: -0.3rem;
      @media only screen and (max-width: $phone) {
        left: 5.7rem;
      }
    }
  }
  &__right {
    flex-direction: row-reverse;
    padding: 1rem 3rem 1rem 1rem;
    margin-left: auto;
    &::after {
      left: -0.3rem;
      @media only screen and (max-width: $phone) {
        left: 5.7rem;
      }
    }
    .year {
      left: -2.5rem;
    }
  }

  &__left,
  &__right {
    @media only screen and (max-width: $tablet-land) {
      flex-direction: column-reverse;
      .year {
        top: -0.5rem;
      }
    }
    @media only screen and (max-width: $phone) {
      width: 100%;
      padding: 1rem 1rem 1rem 10rem;
      .year {
        top: -0.5rem;
        left: 3.5rem;
      }
    }
  }

  &__about {
    width: 30%;
    visibility: hidden;
    color: $secondary-color;
    font-size: 90%;
    font-weight: 100;
    padding: 0.5rem;
    transition: 0.5s;
    @media only screen and (max-width: $tablet-land) {
      width: 100%;
      display: none;
    }

    &-name {
      font-size: 110%;
      color: $red-color;
    }

    &-description {
      color: currentColor;
    }

    &-tech {
      display: inline-block;
      margin: 0 0.2rem 0 0.2rem;
      border: 2px solid currentColor;
      border-radius: 5px;
      font-size: 70%;
      padding: 0 0.5rem 0 0.5rem;
    }
  }
  .polluted {    
    background-image: url(img/polluted.jpg);
    background-size: cover;
    background-position: center;  
  }
  
  .foodhouse {    
    background-image: url(img/foodhouse.jpg);
    background-size: cover;
    background-position: center;  
  }
  .portfolio {    
    background-image: url(img/portfolio.jpg);
    background-size: cover;
    background-position: center;  
  }
  .formcreator {    
    background-image: url(img/formcreator.jpg);
    background-size: cover;
    background-position: center;  
    .project__photo-name{
      border-color:$primary-color-light;
      color: $primary-color;
    }
  }

  &__photo {
    width: 70%;
    height: 20rem;
    position: relative;
    filter: brightness(0.2);
    -webkit-filter: brightness(0.2);
    transition: 0.5s;

    @media only screen and (max-width: $tablet-land) {
      width: 100%;
    }

    &-name {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      width: 15rem;
      height: 15rem;
      border-radius: 100%;
      border: 6px solid $secondary-color-light;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &-icon {
      display: none;
      font-size: 200%;
      width: 100%;
      height: 100%;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      a{
        color: $red-color;
      }
      div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 4.8rem;
        height: 4.8rem;
        border-radius: 100%;
        background-color: rgba($secondary-color, 0.5);
        cursor: pointer;
        &:hover {
          background-color: $secondary-color-light;
          filter: contrast(1.5);
          -webkit-filter: contrast(1.5);
          transform: scale(1.2);
          -webkit-transform: scale(1.2);
          -moz-transform: scale(1.2);
        }
      }
    }
  }
}
