.home {
  background-color: $primary-color-light;
  overflow: hidden;
  .mobile__break{
    display: none;
    @media only screen and (max-width: $tablet) {
      display: block;
    }
  }

  &__container{
    max-width: 1400px;
    margin: auto;
    padding: 0px 40px;
    color: $secondary-color-light;
    padding-top: 68px;
    position: relative;
    @media only screen and (max-width: $phone) {
      padding: 80px 15px; 
    }

    .page__title-img{
      max-width: 550px;
      width: 100%;
      display: block;
      margin-top: 100px;
      margin-left: 0px;
      position: relative;
      @media only screen and (max-width: 1080px) {
        margin-top: 30px;
      }
    }
  
  }
  
  &__picture{
    position: absolute;
    top: 0px;
    right: 40px;
    width: 40%;
    height: 100vh;
    background-image: url('../img/about_background-thin.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(.8);
    @media only screen and (max-width: $tablet-land) {
      right: 0px;
    }
    @media only screen and (max-width: $tablet) {
      right: 40px;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      overflow: hidden;
      top: 150px;
    }
    @media only screen and (max-width: $phone) {
      width: 140px;
      height: 140px;
      right: 15px;
    }
  }
  &__description{
    max-width: 1150px;
    width: 100%;
    margin: auto;
    .name{
      font-size: 52px;
      font-weight: 600;
      line-height: 1;
    }
    .position{
      letter-spacing: 4px;
    }
    @media only screen and (max-width: $tablet) {
      margin-left: 0px;
      padding-top: 80px;

      .name{ font-size: 28px;}
      .position{ font-size: 18px;}
    }
  }

  &__buttons {
    padding-top: 80px;
    display: flex;

    // justify-content: space-between;

    .button {
      text-decoration: none;
      font-size: 18px;
      line-height: 1;
      font-weight: 600;
      width: 150px;
      text-align: center;
      margin-right: 30px;
      padding: 10px;
      color: $primary-color;
      background-color: $secondary-color-light;
      border-radius: 5px;
      &:last-child{
        margin-right: 0px;
      }
      &:hover{
        background-color: rgba($secondary-color, .5);
      }
    }
  }
}


